<template name="signSubmit">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="text">Text</label>
      <div class="controls">
          <input name="text" id="text" type="text" value="" placeholder="Sign Text" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="start">Start Time</label>
      <div class="controls">
          <input name="start" id="start" type="text" value="" placeholder="16s" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="end">End Time</label>
      <div class="controls">
          <input name="end" id="end" type="text" value="" placeholder="26s" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="img">Image File Name</label>
      <div class="controls">
          <input name="img" id="img" type="text" value="" placeholder="marketSt.jpg" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
